/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/laravels.json
/storage/laravels.pid

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
_ide_helper.php

/public/vendor
/public/test.php
/bin

/vendor
/.vscode/*
/tests/*

_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
composer.lock